@charset "UTF-8";
/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: 'Padauk', 'Noto Sans JP', sans-serif;
}

.font-sm, .drawer-item a {
  font-size: 14px;
}

.font-md, #mobile_header_title {
  font-size: 17px;
}

.font-lr, #header_title, #header_title #sns_button {
  font-size: 17px;
}

.font-lg {
  font-size: 25px;
}

.mb-sm {
  margin-bottom: 16px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}

#desk_header {
  display: none;
}

#header_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 30px;
}

#header_title #sns_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header_title p {
  margin: 0 10px;
}

#page_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#page_links #page_link {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px;
  padding: 0 20px;
}

#page_links li {
  margin: 0 10px;
  padding: 5px;
}

#mobile_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  background: #f3f1e7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#mobile_header_title {
  z-index: 101;
}

.drawer-hidden {
  display: none;
}

.drawer-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 60px;
  width: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 100;
  /* 重なり順を一番上に */
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer-open span,
.drawer-open span:before,
.drawer-open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #333;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
}

/* 三本線のうち一番上の棒の位置調整 */
.drawer-open span:before {
  bottom: 8px;
}

/* 三本線のうち一番下の棒の位置調整 */
.drawer-open span:after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer-check:checked ~ .drawer-open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer-check:checked ~ .drawer-open span::before {
  bottom: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#drawer-check:checked ~ .drawer-open span::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* メニューのデザイン*/
.drawer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 30vh;
  position: fixed;
  top: 0;
  left: 100%;
  /* メニューを画面の外に飛ばす */
  z-index: 99;
  background: #f3f1e7;
  -webkit-transition: .2s;
  transition: .2s;
}

.drawer-list {
  margin: 50px auto;
  padding: 10px;
  list-style: none;
}

.drawer-list li a i {
  margin: 10px;
}

.drawer-item {
  padding: 5px;
}

.drawer-item a {
  text-decoration: none;
  margin: 0 auto;
  color: #333;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer-check:checked ~ .drawer-content {
  left: 0;
  /* メニューを画面に入れる */
}

/*モバイルファースト優先で書く場合、
同じ詳細度時に後に書かれた物が適用される為ベースとなるscssは先に書き、
サイズが大きくなるに連れてスタイルを追加していく*/
@media (min-width: 480px) {
  /******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
}

@media (min-width: 600px) {
  /******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
}

@media (min-width: 960px) {
  /******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
  .font-sm, .drawer-item a {
    font-size: 16px;
  }
  .font-md, #mobile_header_title {
    font-size: 19px;
  }
  .font-lr, #header_title, #header_title #sns_button {
    font-size: 23px;
  }
  .font-lg {
    font-size: 36px;
  }
  .mb-lg {
    margin-bottom: 150px !important;
  }
  .pb-lg {
    padding-bottom: 150px !important;
  }
}

@media (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /******************************************************************

Stylesheet: Retinaディスプレイで適用

******************************************************************/
  /* 

EXAMPLE 
.icon {
	background: url(images/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

*/
}

@media print {
  /******************************************************************

Stylesheet: プリンタのみに適用

******************************************************************/
}
/*# sourceMappingURL=style.css.map */